

<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">SERVICE EN FRANCE POUR LES AFRICAINS </h1>
        <h2 class="text-center lato animate slideInDown">Tout Ce Que Vous Voulez en  <b>France</b> Depuis <b>l'Afrique</b></h2>
        <p class="text-center">
            <br>
            <a href="#section8"class="btn btn-blue btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Comment ça Marche </a>
        </p>
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
</section>

<section class="container-fluid" id="section2">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                                <h3>Service <b>E-COMMERCE</b></h3></div>
                                <div class="panel-body">
                                    <p>Faire des achats sur internet/en boutique </p>
                                </p>
                                <hr>
                                <a> <li><%= link_to "Comment ça marche", commerce_path,:class => "btn btn-blue btn-lg btn-huge lato" %></li></a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                                <h3><b>E-CONCIERGERIE</b></h3></div>
                                <div class="panel-body">
                                    <p>Votre assistant personnel en France</p>
                                    <hr>
                                    <a> <li><%= link_to " Comment ça marche", conciergerie_path,:class => "btn btn-blue btn-lg btn-huge lato" %></li></a>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <br>
            </div>
        </div>
        <!--/container-->
    </section>

    <section>
        <div class="container-fluid v-center">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 col-xs-6">
                    <div class="text-center">
                        <a href="">
                            <%=link_to image_tag("amazon.png", :alt => "ecommerce", :class => 'img-responsive'), commerce_path %>
                        </a>
                        <h3 class="text-center"></h3>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-2 col-xs-6">
                    <div class="text-center">
                        <a href="">
                            <%=link_to image_tag("concierge.png", :alt => "conciergerie", :class => 'img-responsive'),conciergerie_path  %>
                        </a>
                        <h3 class="text-center"></h3>
                    </div>
                </div>

            </div>
            <div class="row">



            </div>
            <!--/row-->
        </div>
    </section>

    <section class="container-fluid" id="section3">
        <h1 class="text-center">UN SERVICE SUR MESURE</h1>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <br>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">Vous avez accès aux boutiques des Champs Elysées (Louis Vuitton... ), Place Vendome (Joaillerie...), Haussman, Saint Germain, La vallée village...</div>
                    <div class="col-xs-2">Achetez des articles sur les sites Amazon.fr, Zara.fr, Bexley.fr .</div>
                    <div class="col-xs-4 text-right">Tous les services en France ou en Europe,Transport(voiture à l'aéroport (VTC)), Reservation un match,Livraisons, Administratif (Inscription,) ... </div>
                </div>
                <br>

                <h3 class="text-center lato slideInUp animate">  <strong>Commission</strong> à partir de <strong>9%</strong>.</h3>
                <br>
                <p class="text-center">
                    <%= image_tag( "neuf.png", :alt => "neuf", :class => 'img-responsive') %>
                </p>
            </div>
        </div>
    </section>


    <section class="container-fluid" id="section6">
        <ul class="row list-unstyled">
            <li class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <h3 class="text-center"> <i>
                    <p>Depuis l'Afrique...<p>
                        <p>"diigwa" fait vos courses en FRANCE ...<p>
                            <p>"diigwa" est votre assistant personnel en FRANCE...<p> </h3>
                            </li>
                            <li class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center">
                                <a href="#section4"class="center-block btn btn-default btn-lg btn-huge lato animate slideInRight"><strong>Contact</strong></a></i>
                            </li>
                        </ul>
                    </section>

                    <section class="container-fluid" id="section7">
                        <div class="row">
                            <!--fontawesome icons-->

                            <div class="col-sm-1 col-xs-4 text-center">
                                <i class="fa fa-facebook fa-4x"></i>
                            </div>
                            <div class="col-sm-1 col-xs-4 text-center">
                                <i class="fa fa-google-plus fa-4x"></i>
                            </div>
                            <div class="col-sm-1 col-xs-4 text-center">
                                <i class="fa fa-twitter fa-4x"></i>
                            </div>

                        </div>
                    </section>


                    <section class="container-fluid" id="section5">
                        <div class="row">
                            <div class="v-center">
                                <h1 class="text-center lato"><strong>COMMENT ÇA MARCHE </strong></h1>
                                <hr>
                            </div>
                            <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4">


                                <div class="media">
                                    <h3><strong>FAITES VOTRE CHOIX</strong></h3>


                                    <div class="media-left">
                                        <h1> <span style="color:#5491bd" class="glyphicon glyphicon-ok"></span></h1>
                                    </div>
                                    <div class="media-body media-middle">
                                        <li class="list-group-item"><p>Choisissez tous les produits qu'on peut acheter en France.</p></li>
                                        <li class="list-group-item"><p>Désignez votre article disponible en France grace à un lien sur un site internet</p></li>
                                        <li class="list-group-item"><p> Désignez un article dans une boutique en région parisienne</p></li>
                                        <li class="list-group-item"><p> Désignez le service que vous souhaitez en France ou en Europe</p></li>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <h3><strong>COMMANDEZ PAR <a href="#section4"> MAIL</strong> </a></h3>


                                    <div class="media-body media-middle">
                                        <li class="list-group-item"><p>Décrivez votre produit/service.</p></li> 
                                        <li class="list-group-item"><p> Echangeons par mail pour affiner la commande. </p></li>
                                    </div>

                                    <div class="media-right">
                                        <h1> <a href="#section4"span  style="color:#5491bd"class="glyphicon glyphicon-envelope"></span></h1></a>

                                    </div>

                                </div>
                                <hr>

                                <div class="media">
                                    <h3><strong>RECEVEZ UN DEVIS</strong></h3>
                                    <div class="media-left">
                                        <h1> <span style="color:#5491bd" class="glyphicon glyphicon-file"></span></h1>
                                    </div>
                                    <div class="media-body media-middle">
                                        <li class="list-group-item"><p>le produit ou le service est au prix indiqué par le vendeur </p></li>
                                        <li class="list-group-item"><p>Recevez un devis</p></li>
                                        <li class="list-group-item"><p>Recevez une Facture </p></li>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <h3><strong>REGLEZ LA COMMANDE</strong></h3>
                                    <div class="media-body media-middle">
                                        <ul class="list-group">
                                            <li class="list-group-item"><p>Carte Bleue </p></li>
                                            <li class="list-group-item"><p>PayPal</p></li>
                                            <li class="list-group-item"><p>Virement bancaire</p></li>
                                            <li class="list-group-item"><p>Transfert d'argent</p></li>
                                        </ul>

                                    </div>
                                    <div class="media-right">
                                        <h1> <span style="color:#5491bd" class="glyphicon glyphicon-euro"></span></h1>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <h3><strong>RECEVEZ VOTRE COMMANDE</strong></h3>
                                    <div class="media-left">
                                        <h1> <span style="color:#5491bd" class="glyphicon glyphicon-plane"></span></h1>


                                    </div>
                                    <div class="media-body media-middle">
                                        <ul class="list-group">
                                         <li class="list-group-item"><p>Votre colis sera disponible chez notre transporteur</p></li>
                                     </ul>

                                 </div>
                             </div>

                         </div>
                     </div>
                 </section>

                 <section class="container-fluid" id="section8">
                    <div class="container">
                        <div class="row">


                            <div class="col-sm-6 col-sm-offset-3">


                                <div class="embed-responsive embed-responsive-16by9">

                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/qNDOQ6Li4S0" frameborder="0" allowfullscreen></iframe>
                               </div>

                           </div>
                       </div>

                   </div>


               </section>


               <section id="section4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">CONTACT</h1>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="well well-sm pull-left">
                            <address>
                              <strong>CHOOSE STAY SAS</strong><br>

                              142 rue de Rivoli<br>
                              75001, PARIS<br>
                              www.digwa.com
                          </address>
                          <address>
                              <strong>Email </strong><br>
                              <a href="mailto:#">contact@diigwa.com</a>
                          </address>
                      </div>


                      <div class="well well-sm pull-right">
                          <strong>Service d'E-COMMMERCE</strong><br>
                          <br>FAIT VOS ACHATS
                          <br>
                          <br>


                          <address>
                              <strong>Email </strong><br>
                              <a href="mailto:#">commerce@diigwa.com</a>
                          </address>
                      </div>
                      <div class="well well-sm pull-right">
                          <strong>E-CONCIERGERIE</strong><br>
                          <br>VOTRE ASSISTANT PERSONNEL
                          <br>
                          <br>


                          
                          <address>
                              <strong>Email </strong><br>
                              <a href="mailto:#">conciergerie@diigwa.com</a>
                          </address>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <section class="container-fluid" id="section6">
        <ul class="row list-unstyled">
            <li class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <h3 class="text-center"> <i><p>Vous importez vos produits de FRANCE...<p>
                    <p>Vous avez un assistant personnel en FRANCE ...<p>
                    <p>PLUS DE LIMITE QUE DES OPPORTUNITÉS

                    </i> </h3>
                    </li>
                    <li class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center">
                        <a href="http://google.fr" target="_blank" class="center-block btn btn-default btn-lg btn-huge lato animate slideInRight">No Limit !</a>
                    </li>
                </ul>
            </section>



