<% provide(:title, "Contact") %>

<div class="container">

  <div class="row">
     <div class="col-md-12">
                      <hr>

                      <hr>
                      <hr>
                      <hr>

                <h2 class="text-center">Contact Us</h2>

          <form role="form">
            <div class="col-lg-6">
              <%= form_for @message, url: contact_path do |message_form| %>


              <div class="form-group">
                <div class="input-group">

                <%= message_form.label :first_name %>
                <%= message_form.text_field :first_name, class: "form-control", placeholder: "Enter First Name" %>
                </div>
              </div>


              <div class="form-group">
                <div class="input-group">

                <%= message_form.label :last_name %>
                <%= message_form.text_field :last_name, class: "form-control" %>
                </div>

              </div>

              <div class="form-group">
                                <div class="input-group">

                <%= message_form.label :email %>
                <%= message_form.text_field :email, class: "form-control" %>
                </div>

              </div>
              


              <div class="form-group">
                <div class="input-group">

                <%= message_form.label :title %>
                <%= message_form.text_field :title, class: "form-control" %>
                </div>

              </div>
              
              <div class="form-group">
                          <div class="input-group">

                <%= message_form.label :phone %>
                <%= message_form.text_field :phone, class: "form-control" %>
                </div>

              </div>
              
            
              <div class="form-group">
                <div class="input-group">

                <%= message_form.label :content %>
                  
                <%= message_form.text_area :content, rows: "10", class: "form-control" %>
                </div>

              </div>
  <div class="form-group">
                <div class="input-group">
            
               <%= message_form.submit "Contact Us", class: "btn btn-info pull-right" %>
                </div>

              </div>
          <% end %>
        </div>


          </form>

      <hr class="featurette-divider hidden-lg">
        <div class="col-lg-5 col-md-push-1">
          <address>
          <h3>Office Location</h3>
          <p class="lead"><a href="https://www.google.com/maps/place/142+Rue+de+Rivoli,+75001+Paris,+France/@48.8604053,2.3406893,17z/data=!3m1!4b1!4m2!3m1!1s0x47e66e2191271747:0x91ad54258d645828">Choose Stay<br>
      142 rue de rivoli, 75001 Paris</a><br>
            Phone: XXX-XXX-XXXX<br>
            Fax: XXX-XXX-YYYY</p>
          </address>
        </div>
  </div>

</div>




        