<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>SERVICES POUR LES AFRICAINS</h4>
                <ul class="nav">
                    <li><%= link_to "E-COMMERCE pour les Africains", commerce_path %></li>
                    <li><%= link_to "E-CONCIERGERIE pour les Africains", conciergerie_path %></li>
                    <li><%= link_to "Conditions Générales de Services", condition_path %></li>
                    
                    
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>SUIVEZ-NOUS</h4>
                <ul class="nav">
                    <li><%= link_to "Twitter", 'https://twitter.com/DiiGwa', :target => "_blank" %></li>
                    <li><%= link_to "Facebook", 'https://www.facebook.com/diigwa/', :target => "_blank" %></li>
                    <li><%= link_to "Bons Plans", 'https://www.facebook.com/diigwa/', :target => "_blank" %></li>
                    <li><%= link_to "Google +", 'https://plus.google.com/b/103994619259878507876/103994619259878507876', :target => "_blank" %></li>

                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>CONTACTEZ-NOUS</h4>
                <ul class="nav">
                    <li><%= link_to "Mail", '#' %></li>
                    <li><%= link_to "Contact", '#' %></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>SOCIÉTÉ</h4>
                <ul class="nav">
                    <li><%= link_to "A Propos", about_path %></li>
                    <li><%= link_to "Mentions Légales", mention_path %></li>
                    
                    <li><%= link_to "Moyen de Paiement", payment_path %></li>
                    <li><%= link_to "Aide", help_path %></li>
                </ul>

                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">dii gwa©2016</p>
    </div>
</footer>

