<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Qui est ce ?</h4>
                <ul class="nav">
                    <li><a href="#">Site e-commerce</a></li>
                    <li><a href="#">Votre beinguiste</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Rejoignez nous</h4>
                <ul class="nav">
                    <li><%= link_to "Twitter", 'https://twitter.com/DiiGwa', :target => "_blank" %></li>
                    <li><%= link_to "Facebook", 'https://www.facebook.com/diigwa/', :target => "_blank" %></li>

                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><%= link_to "Mail", '#' %></li>
                    <li><%= link_to "Contact", '#' %></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Société</h4>
                <ul class="nav">
                    <li><%= link_to "A Propos", about_path %></li>
                    <li><%= link_to "Mentions Légales", mention_path %></li>
                    <li><%= link_to "Conditions générales de Services", condition_path %></li>
                    <li><%= link_to "Moyen de paiement", payment_path %></li>

                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">DII GWA©2015</p>
    </div>
</footer>

