<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Nos villes</h4>
                <ul class="nav">
                    <li><a href="#">Abidjan</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Rejoignez nous</h4>
                <ul class="nav">
                    <li><%= link_to "Twitter", '#' %></li>
                    <li><%= link_to "Facebook", '#' %></li>

                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><%= link_to "Mail", '#' %></li>
                    <li><%= link_to "Contact", '#' %></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Société</h4>
                <ul class="nav">
                    <li><%= link_to "A Propos", about_path %></li>
                    <li><%= link_to "Mentions Légales", mention_path %></li>
                    <li><%= link_to "Conditions générales de Services", condition_path %></li>
                    <li><%= link_to "Moyen de paiement", payment_path %></li>

                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">DII GWA©2015</p>
    </div>
</footer>

